/* CSS Document */

#content-container{
}

#configure-header{
	width: 100%;
	float:left;	
}

#configure-nav{
	margin-left: -20px;	
}

.configure-nav-element{
	float:left;
	padding: 10px 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;	
}

.main-content-float{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#configuration-submit{
	background-color: #000;
	color: #FFF;
	width: 110px;
	padding: 8px 10px 10px 10px;
	height: auto;
	cursor: pointer;
}

#input-project-name{
	width: 400px;	
}

#valid-project-name{
	color:#F30;	
}

.hidden{
	display: none;	
}