@charset "utf-8";
/* CSS Document */


#contentContainer{
	float:left;
	width: 900px;
}

#leftContent{
	width: 200px;
	float:left;
}

#rightContent{
	width: 700px;
	float:left;
}

#blastOptions{
	width: 200px;
	float:left;
}

#blastSubNav{
	width: 100%;
	float:left;
	margin-bottom: 5px;
}

#blastNavContainer{
	float:right;
}

.blastNavElement{
	float:left;
	padding: 0px 5px;
	color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.blastNavElement a{
	color:#FFFFFF;
	text-decoration:none;
}

.blastNavElement a:hover{
	text-decoration:underline;
}

.blastNavLabel{
	float:left;
	padding: 0px 5px;
	color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

#blastTop{
	width: 200px;
	height: 11px;
	float:left;
	background-image:url(../slimebase2/images/blast_options_top.png);
	background-repeat:no-repeat;
}

#blastMiddle{
	background-color: #043D82;
	background-image: url(../slimebase2/images/blast_middle.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 200px;
	float:left;
}

#blastBottom{
	width: 200px;
	height: 11px;
	float:left;
	background-repeat:no-repeat;
	background-image: url(../slimebase2/images/blast_options_bottom.png);
}

#blastOptionContainer{
	padding-left: 12px;
}

div.blastOptionElement{
	margin-bottom: 20px;
}

.blastOptionElement{
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;
}

.blastOptionElement h1{
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.blastOptionElement select{
	color:#666666;
	margin-top: 10px;
	margin-left: 5px;
	padding: 2px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	width: 150px;
}

.blastOptionElement input{
	color: #666666;
	padding: 2px;
	border: 1px solid #000000;
	width: 150px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-left: 5px;
}

#blastMain{
	width: 680px;
	margin-left: 20px;
	float:left;
	overflow:hidden;
}

#blastMainTopLeft{
	width: 15px;
	height: 10px;
	background-image:url(../slimebase2/images/blast/blast_top_left.png);
	float:left;
}

#blastMainTopRight{
	width: 15px;
	height: 10px;
	background-image: url(../slimebase2/images/blast/blast_top_right.png);
	float:left;
}

#blastMainTopMiddle{
	width: 650px;
	height: 10px;
	background-image:url(../slimebase2/images/blast/blast_top.png);
	background-repeat: repeat-x;
	float:left;
}

#blastMainMiddle{
	width: 632px;
	border-left: 4px solid #AEE6F8;
	border-right: 4px solid #AEE6F8;
	padding-top: 14px;
	padding-left: 24px;
	background-color:#FFFFFF;
	float:left;
}


#blastMainBottomLeft{
	width: 15px;
	height: 10px;
	background-image:url(../slimebase2/images/blast/blast_bottom_left.png);
	float:left;
}

#blastMainBottomRight{
	width: 15px;
	height: 10px;
	background-image:url(../slimebase2/images/blast/blast_bottom_right.png);
	float:left;
}

#blastMainBottomMiddle{
	width: 650px;
	height: 10px;
	float:left;
	background-image:url(../slimebase2/images/blast/blast_bottom.png);
}

textarea#queryEntry{
	color: #828F80;
	background-color: #E1EFF4; 
	width: 620px;
	height: 200px;
	border: 1px solid  #CCCCCC;
	margin-top: 5px;
}

input#queryFile{
	background-color:#F0F0F0;
}

#fileUpload{
	padding: 10px;
	background-color: #E1EFF4;
	margin-top: 5px;
	border: 1px solid  #CCCCCC;
}

#fileUpload a{
	padding-left: 5px;
}

/*#blastMainMiddle h1{
	padding: 0;
	margin: 0 24px 0 0;
	font-size: 1.2em;
	color:#688CA4;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px dotted #999999;

}

#blastMainMiddle h2{
	font-size: .8em;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin: 0;
}
*/

.blastHeader{
	border-bottom: 1px solid #AEE6F8;
	margin: 0 0 0 -24px;
	padding-left: 24px;
	padding-bottom: 17px;
}

.blastHeader h1{
	color: #000000;
	margin:0 24px 0 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-weight: lighter;
	border: none;
}

#queryDiv h1{
	padding: 0;
	margin: 0 24px 0 0;
	font-size: 1.2em;
	color:#688CA4;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px dotted #999999;
}

#queryDiv h2{
	padding: 0;
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: lighter;
	color: #002044;
}


#queryDiv{
	margin-right: 24px;
	padding: 20px 0 0 0;
}

.small-seqs{
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;	
}

.small-seqs span{
	float:left;
	font-size: .8em;
	width: 140px;
}

#blastAdditional{
	width: 200px;
	height: 200px;
	float:left;
}

#blastSubmit{
	display:none;
}

#blastStart{
	float:left;
	width: 650px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: right;
	display:none;
}

#blastQueue{
	display:none;
}

#blastQueueHeader{
	border-bottom: 1px solid #AEE6F8;
	margin: 0 0 10px -24px;
	padding-left: 24px;
	width: 652px;
	padding-bottom: 17px;
	float:left;
}

#blastQueueHeader h1{
	color: #000000;
	margin:0 24px 0 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-weight: lighter;
	border: none;
}

#blastQueueContainer{
	float:left;
}

.blastQueueSubHeader{
	width: 622px;
	margin-bottom: 20px;
	margin-top: 20px;
	float:left;
}

.blastQueueSubHeader h1{
	width: 622px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: lighter;
	margin: 0;
	color: #002044;
}
#finishedContainer{
	margin-top: 10px;
	border-bottom: 1px dotted #999999;
	margin-bottom: 20px;
	margin-right: 24px;
	padding-bottom: 20px;
	float:left;
	width: 622px;
}

.noBlastJobDiv{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #999999;
	margin-left: 10px;
	margin-bottom: 20px;
	float:left;
}

.blastJob{
	margin-left: 10px;
	width: 612px;
	float:left;
}

.blastJobDescription{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #333333;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 400px;
	float:left;
}

.blastQueueDescription{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #333333;
	margin-left: 5px;
	margin-bottom: 20px;
	width: 617px;
}

.blastJobTime{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #333333;
	margin-left: 10px;	
	float:left;
}

.blastJobCount{
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .8em;
	color:#333333;
}

/*****************************************************DEFINITIONS FOR BLAST RESULT VIEW*********************************/

#blastResult{
}

#blastResult h1{
	color: #000000;
	width: 842px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-weight: lighter;
	border: none;
	margin: 0;
}

.resultContainer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	padding: 10px;
	border: 1px solid #C1C1C1;
	width: 822px;
	margin-bottom: 40px;
	float:left;
}

#blastResultOptions{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin: 20px 0 40px -24px;
	padding-left: 34px;
	padding-bottom: 5px;
	border-bottom: 1px solid #AEE6F8;
	width: 100%;
	overflow: auto;
}

.blastOptionHeader{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #002044;
	width: auto;
	float:left;
}

#querySelect{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.innerResultBox{
	padding: 10px 10px;
	float:left;
	width: 800px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.querySubHeader{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #002044;
	width: auto;
	float:left;
	margin-bottom: 25px;
}

.queryDescription{
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 25px;
	width: 690px;
	float:left;
}

.blastResultSubHeader{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #002044;
	width: 800px;
	float:left;
	margin-bottom: 20px;
}

.hitSummaries{
	width: 800px;
	float:left;
	margin-bottom: 20px;
}

.hitSummaryContainer{
	width: 780px;
	margin-left: 10px;
	margin-bottom: 5px;
	float:left;
}

.summaryHeader{
	width: 780px;
	margin-left: 10px;
	margin-bottom: 10px;
	float:left;
	font-weight: bold;
	color:#FF9933;
	font-size: 1.2em;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
	border-bottom: 1px dotted #999999;
}

.sbCell{
	float:left;
	width: 75px;
	text-align:center;
}

.sbCell a:visited{
	color: #0066FF;
}

.hitDescCell{
font-family: "Courier New", Courier, monospace;
	margin-left: 5px;
	width: 450px;
	text-align:left;
	float:left;
}

.hitDescHeader{
	margin-left: 5px;
	width: 450px;
	text-align:left;
	float:left;
}

.hitDescCell a{
	color: #000000;
	text-decoration:none;
}

.hitDescCell a:hover{
	text-decoration:underline;
}

.evalCell{
	width: 75px;
	float:left;
	text-align:center;
}

.hitContainer{
	width: 750px;
	float:left;
	font-size: .9em;
	font-family: "Courier New", Courier, monospace;
}

.idenCell{
	width: 75px;
	float:left;
	text-align:center;
}

.scoreCell{
	width: 65px;
	float:left;
	text-align:center;
}

#reportNotLoaded{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #036788;
}

#selectResultDiv{
	margin-bottom: 20px;
}


.blastExportOptions{
	margin-left: 10px;
	border-left: 1px dotted #000000;
	padding-left: 10px;
	width: auto;
	float:left;
	padding-top: 2px;
	margin-top: 2px;
}

.jumpSelect{
	width: 800px;
	float:left;
}


