@charset "utf-8";
/* CSS Document */

.membersArea #maForm{
	width: 23em;
	background:#FFFFFF;
	border: 1px solid #000000;
}

.membersArea legend{
	color: #2D536E; 
	background: #fff;
	border: 1px solid #781351;
	padding: 2px 6px
}

.membersArea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

#errorMessage{
	width: 700px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #0B4A79;
	margin-bottom: 20px;
}

#credentials{
	width: 700px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #0B4A79;
	margin-bottom: 20px;
}