@charset "utf-8";
/* CSS Document */
body{
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
}

.mainPage #container{
	position: relative;
	margin: 0 auto;
	width: 918px;
	text-align: left;
}

.mainPage #navigation{
	width: 860px;
	height: 25px;
	white-space: nowrap;
	padding-left: 58px;
	text-align: left; 
	background-image: url(../images/layout/jinnie_site_nav.jpg);
	background-repeat: no-repeat;
}

.mainPage #navElement a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-right: 20px;
	text-decoration: none;
	vertical-align: middle;
	color: #FFFFFF;
}

.mainPage #navElement a:hover{
	color: #E7935C;
	text-decoration: overline;
}

.mainPage #header{
	width: 918px;
	height: 144px;
	background-image:url(../images/layout/moroz_lab_header.jpg);
	background-repeat: no-repeat;	
}

.mainPage #dbHeader{
	width: 918px;
	height: 144px;
	background-image: url(../images/layout/db_header.jpg);
	background-repeat:no-repeat;
}

#header p{
	margin: 0;
}

.mainPage #content{
	width: 918px;
	min-height: 450px;
	background-image: url(../images/layout/jinnie_site_top_middle.jpg);
	background-repeat:repeat-y;
	overflow: auto;
}

#content p{
	margin: 0 0 0 10px;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #494949;
	font-size: 10pt;
}

#rightContent form{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #494949;
	font-size: 10pt;
}

#lFloatImg {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	magin-bottom: -3pxfamily
}

#content h1{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20pt;
	color: #000000;
	margin: 10px 0 20px 0; 
}

#content h2{
    font-family: Century, "Times New Roman";
	font-size: 14pt;
	font-weight: 100;
	color: #000000;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #494949;
}

#content h2 a{
	text-decoration: none;
	color: #000000;
}

#content h2 a:hover{
	color: #2D536E;
	text-decoration: none;
}

#content h3{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #494949;
	font-size: 10pt;
	font-weight: bold;
	margin:0 0 0 5px;
}

#contentDownloads a{
	font-size: 9pt;
}

#contentDownloads{
	margin: 0 0 0 -30px;
	text-indent: 0px;
	list-style-type: none;
}

#content a{
	color: #2D536E;
	text-decoration: none;
}

#content a:hover{
	text-decoration: underline;
} 

#contentDownloads a:hover{
	text-decoration: underline;
}	

.mainPage #memberLogIn{
	width: 917px;
	height: 19px;
	background-image: url(../images/layout/moroz_lab_member_bar.jpg);
	background-repeat: no-repeat;
	text-align: right;
	float: left;
}

.mainPage #leftContent{
	width: 635px;
	padding-left: 58px;
	padding-right: 20px;
	padding-top: 10px;
	margin-bottom: 30px;
	float: left;
}

.mainPage #rightContent{
	padding-left: 20px;
	padding-right: 38px;
	padding-top: 30px;
	width: 157px;
	float:left;
	text-align: right;
}

.mainPage #smallHeader{
	margin-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #2D536E;
}

.mainPage #postText{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
} 

.mainPage #footer{
	width: 918px;
	background-image:url(../images/layout/jinnie_site_footer.jpg);
	height: 41px;
}

.mainPage Member_Roll{
	margin-right: -20px;
}

#leftContent h1{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #494949;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
}

#publications p{
	margin-bottom: 25px;
}

#borderBox{
	/*background:#EAEAEA;*/
	border: dashed 1px #666666;
	width: 50%;
}

#smallRightLink{
	text-align:right;
	font-size: 8pt;
}
/*Styles for Quick Links portion of Web Page**********************************************************************/

.quickLinks{
	text-align:right;
}

.quickLinks a{
	margin-left: 30px;
}

/*.quickLinks a:link, a:visited{
	text-decoration: none;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}*/
.quickLinks a:hover, a:active{
	text-decoration: underline;
}

#rightContent h1{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color:#E06A43;
	font-size: 10pt;
	font-weight: bold;
	border-bottom: 1px dashed #494949;
	margin: 0px;
}

#rightContent a{
	font-size: 8pt;
}

#linkContainer{
	width: auto;
	float:right;
}

.quickLinks img{
	margin-right: -20px;
}

/************************************************************* DATABASE STYLES ***************************************/

#leftDB{
	width:290px;
	float:left;
	padding-left: 10px;
	border-right: 1px dashed #CCCCCC;
}

#rightDB{
	width:290px;
	margin-left: 30px;
	padding-left: 10px;
	float:left;
}


