@charset "utf-8";
/* CSS Document */
body{
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
}

.mainPage #container{
	position: relative;
	margin: 0 auto;
	width: 918px;
	text-align: left;
}

.mainPage #navigation{
	width: 918px;
	height: 24px;
	background-image: url(../images/layout/jinnie_site_nav.jpg);
	background-repeat: no-repeat;
}

.mainPage #header{
	width: 918px;
	height: 144px;
	background-image:url(../images/layout/moroz_lab_members.jpg);
	background-repeat: no-repeat;
}

#header p{
	margin: 0;
}

.mainPage #content{
	width: 918px;
	padding: 30px 0;
	min-height: 400px; 
	background-image: url(../images/layout/jinnie_site_top_middle.jpg);
	background-repeat:repeat-y;
	overflow: auto;
}

#contentText p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin: 0;
	padding: 0;
}

#content h1{
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #2D536E;
}

.mainPage #memberLogIn{
	width: 917px;
	height: 19px;
	background-image: url(../images/layout/moroz_lab_member_bar.jpg);
	background-repeat: no-repeat;
	text-align: right;
	float: left;
	padding-right: 1px;
}

.mainPage #leftContent{
	padding-left: 57px;
	width: 566px;
	padding-right: 20px;
	float: left;
}

.mainPage #rightContent{
	padding-left: 40px;
	width: 235px;
	float:left;
}

.mainPage #smallHeader{
	margin-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #2D536E;
}

.mainPage #postText{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
} 

.mainPage #footer{
	width: 918px;
	background-image:url(../images/layout/jinnie_site_footer.jpg);
	height: 41px;
}

.membersArea label{
	width: 6em;
	float: left;
	text-align: right;
	margin-top: .3em;
	margin-right: 0.5em;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.membersArea #textInput{
	background:; 
	border: 1px solid;
}
	 

.submitButton #smButton{
	margin-left: 6em;
}

.mainPage #navigation{
	width: 860px;
	height: 25px;
	white-space: nowrap;
	padding-left: 58px;
	text-align: left; 
	background-image: url(../images/layout/jinnie_site_nav.jpg);
	background-repeat: no-repeat;
}

.mainPage #navElement a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-right: 20px;
	text-decoration: none;
	vertical-align: middle;
	color: #FFFFFF;
}

.mainPage #navElement a:hover{
	color: #E7935C;
	text-decoration: overline;
}

/************************Styles for Log in form *******************************************************************/

.membersArea #maForm{
	width: 23em;
	background:#E0E0E0;
	border: 1px solid #000000;
}

.membersArea legend{
	color: #2D536E; 
	background: #fff;
	border: 1px solid #781351;
	padding: 2px 6px
}

/*Styles for Quick Links portion of Web Page**********************************************************************/