@charset "utf-8";
/* CSS Document */

#optionsWrapper{
	margin: -20px 0 25px -20px;
	float:left;
	width: 940px;
	text-align:left;
	border-bottom: 1px solid #227895;
}

#optionLeft{
	float:left;
	background-color: #5BB2D0;
	width: 15px;
	height: 60px;
}


#optionContent{
	float:left;
	background-color: #5BB2D0;
	width: 925px;
	height: 58px;
	padding-top: 2px;
}

#optionElementsContainer{
	float:right;
	width: auto;
	margin-right: 15px;
	margin-top: 33px;
}

.optionTitleElement{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	font-size: 1.6em;
	float:left;
	margin: 12px 10px 0px 0px;
	width: auto;
}

.optionTitleElement a{
	color: #FFFFFF;
	text-decoration:none;
}

.optionTitleElement a:hover{
	text-decoration:underline;
}

.optionElement{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	font-size: 1.0em;
	float:left;
	margin: 5px 0px 0px 10px;
	width: 50px;
}

.optionDivider{
	border-right: 1px dotted #333333;
	float:left;
	width:2px;
}

#optionFooter{
	float:left;
	width: 940px;
	text-align:left;
	height: 10px;
	background-color:#8ED4EC;
	border-bottom: 1px solid #999999; 
}

.optionElement a{
	text-decoration:none;
	color: #FFFFFF;
}
