#pfam-content{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


#pfam-heading{
	margin: 35px 0 0 0;
	width: 600px;
	float: left;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #949494;
	font-size: 3.5em;	
	font-weight: normal;
}

#pfam-search-box{
	margin: 30px 0 0 0;
	padding-top: 15px;
	width: 600px;
	float:left;	
}

input#pfam-search-element{	
	border: 1px solid #77ab06;
	height: 30px;
	width: 580px;
	font-family: "Franklin Gothic Book", Arial, Helvetica;
	font-size: 2.0em;
	font-weight: normal;
	color: #666;
	padding: 10px;
}

.idle-search{
	background-image: url(../slimebase2/images/pfam/mag_glass.jpg);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.focused-search{
	background: none;	
}

#pfam-domain-statistics{
	margin: 5px 0 0 15px;
	width: 100%;
	float:left;
	font-family: "Franklin Gothic Book", Arial, Helvetica;
	font-size: 1.0em;
	color: #21a3c9;	
}

#pfam-navigation{
	margin-top: 5px;
	width: 595px;
	float:left;
	margin-left: 605px;
	font-family: "Frankling Gothic Book", Verdana, Arial, Helvetica;
	font-size: 1em;	
}

#pfam-navigation a{
	text-decoration:none;
	color: #03b1ea;	
}

#pfam-navigation a.selected{
	color: #67838c;	
}

#pfam-browsing{
	margin: 50px 0 50px 0;
	width: 1200px;
	float:left;	
}

#pfam-browsing-table{
	font-family: Helvetica, Arial;
	font-size: 1em;	
	width: 1200px;
	border-spacing: 0;
	border-bottom: 1px solid #999;
	
}

#pfam-browsing-table td{
	padding: 5px 0;
}

.pfam-table-header td{
	padding-bottom: 3px;
	border-bottom: 1px solid #999;
}

.pfam-table-light{
	background-color: #eefbff;
	cursor:default;
}

.pfam-table-dark{
	background-color: #e1eff4;
	cursor:default;
}

.type-column{
	width: 100px;	
}

#pfam-wrapper{
	
}

#pfam-detail-container{
	width: 1000px;
	float:left;	
	margin:0;	
	border-right: 1px solid #999;
	min-height: 500px;
}

#pfam-options-container{
	width: auto;
	float:left;
	height: 100%;	
}

#pfam-detail-header{
	float:left;
	width: 940px;
	margin: 0;
	padding: 30px 30px 40px 30px;
	font-family: Tahoma, Geneva, sans-serif;	
	font-size: 3em;
	color: #949494;
	border-bottom: 1px dotted #999;	
	float:left;
}

#pfam-detail-header a{
	text-decoration:none;
	color: #949494;
}

#pfam-detail-header a:hover{
	text-decoration:underline;	
}

#pfam-detail-container .comment{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #000;
	width: 940px;
	padding: 20px 30px;
	float:left;
	margin:0;
	background-color: #e1eff4;
	border-bottom: 1px dotted #999;
}

#pfam-detail-container div.comment-container{
	width: auto;
	float:left;	
}


#pfam-sequences-header{
	width: 940px;
	padding: 0 30px;
	font-size: 1.8em;
	color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 40px;
	float:left;
}

#pfam-sequences-header span{
	width: auto;
	float:left;	
}

#pfam-detail-options{
	width: auto;
	padding: 10px 0px;
	float:left;	
	margin-left: 20px;
	margin-top: 46px;
	border-radius: 10px;
	background-color: #000;
}

#pfam-detail-options a{
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4eem;
}

#pfam-detail-options a:hover{
	color: #09F;
}

#pfam-sequence-container{
	width: 940px;
	float:left;
	margin-left: 30px;
	padding: 0 0 20px 0;	
}

.pfam-detail-diagram-heading a{
	text-decoration: none;
	color: #1C4B5A;
}

.pfam-detail-diagram-heading a:hover{
	text-decoration: underline;	
}

.pfam-graphic-display{
	border-radius: 5px;
	-moz-border-radius:5px;
	background-color: #FFF;
	padding: 0;
	width: 900px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#pfam-graphics-list{
	color: #1C4B5A;
	font-family:Tahoma, Helvetica, Arial;
	font-size: 1.2em;
}

/*#pfam-detail-container .sb-border{
	background: #949494;	
	
}


#pfam-detail-container, #pfam-detail-container .sb-inner{
	background-color: #FFF;
	padding: 10px;	
}
*/
#shadowed-border {  }
#shadowed-border, #shadowed-border .sb-inner { background:#444 url(grad.png) repeat-x; }
 

