@charset "utf-8";
/* CSS Document */

#addlSearch{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
}

#addlSearch select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #036788;
	padding: 2px;
}

#addlSearch input[type=text]{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #036788;
	padding: 3px 2px;
}


#optionsWrapper{
	margin: -20px 0 25px -20px;
	float:left;
	width: 940px;
	text-align:left;
	border-bottom: 1px solid #227895;
}

#optionLeft{
	float:left;
	background-color: #5BB2D0;
	width: 15px;
	height: 60px;
}


#optionContent{
	float:left;
	background-color: #5BB2D0;
	width: 925px;
	height: 58px;
	padding-top: 2px;
}

#optionElementsContainer{
	float:right;
	width: auto;
	margin-right: 15px;
	margin-top: 33px;
}

.optionTitleElement{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	font-size: 1.6em;
	float:left;
	margin: 12px 10px 0px 0px;
	width: auto;
}

.optionTitleElement a{
	color: #FFFFFF;
	text-decoration:none;
}

.optionTitleElement a:hover{
	text-decoration:underline;
}

.optionElement{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	font-size: 1.0em;
	float:left;
	margin: 5px 0px 0px 10px;
	width: 50px;
}

.optionDivider{
	border-right: 1px dotted #333333;
	float:left;
	width:2px;
}

#optionFooter{
	float:left;
	width: 940px;
	text-align:left;
	height: 10px;
	background-color:#8ED4EC;
	border-bottom: 1px solid #999999; 
}

.optionElement a{
	text-decoration:none;
	color: #FFFFFF;
}

#noResults{
	width: 700px;
	float:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 10px 0px 10px 20px;
}

/*************************************************STYLES FOR DISPLAYING SEQUENCES W/ANNTOATION*********************************************/

#columnHeaders{
	float:left;
	width: 890px;
	/*border-left: 1px solid #B0D2E3;
	border-right: 1px solid #B0D2E3;
	*/color:#000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	padding: 10px 5px;
}

#seqDisplay{
	float:left;
	width: 900px;
}

#seqDisplayBorder{
	float: left;
	width: 890px;
	border: 1px solid #B0D2E3;
	padding: 0px 5px;
}

.sequenceContainer{
	float: left;
	width: 890px;
	border-bottom: 1px dotted #666666;
	/*background-image: url(../slimebase2/images/view_seqs/seq_background.jpg);
	background-color: #E3F0F6;
	background-repeat: repeat-x;
	background-position: bottom;*/
}

.sequenceContainerInner{
	float:left;
	width: 890px;
	background-color:#FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.seqEntryHeader{
	float: left;
	width: 890px;
}

/*.seqDescriptionContainer{
	width: 874px;
	margin: 0px 3px 20px 3px;
	padding: 10px 5px 5px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	border-bottom: 1px dotted #CACACA;	
	color: #0A476A;
}
.seqDescriptionContainer a{
	color: #0A476A;
	text-decoration:none;
}

.seqDescriptionContainer a:hover{
	text-decoration:underline;
}
*/

.annotationBorder{
	float:left;
	width: 820px;
	/*margin-left: 30px;
	*/height: 1px;
	border-bottom: 1px solid #C4DEEB;
}

.annotationIcon{
	float:left;
	width:  60px;
	height: auto;
}

.annotationTable{
	color: #000000;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

.annotationTextCell{
	width: 700px;
	padding: 0 5px;
	vertical-align:middle;
}

.annotationTextCell a{
	color: #000000;
	text-decoration:none;
}

.annotationTextCell a:hover{
	text-decoration:underline;
}

.evalCell{
	width: 100px;
	text-align:right;
	padding-right: 5px;
}

.evalCellSmaller{
	width: 80px;
	text-align:right;
	padding-right: 5px;
}

.customFastaButton{
	padding-left: 3px;
	border-left: 1px dotted #62A9EB;
}

.abundanceCell{
	width: 80px;
	text-align: right;
}

.abundanceImageContainer{
	margin-left: 3px;
	width: auto;
	float:right;
}

.abundanceAmount{
	width: auto;
	float:right;
}

.annotTableContainer{
	float:left;
	width: auto;
}

.annotTable{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}
	
.annotTable td{
	vertical-align:middle;
}

.sbCell{
	vertical-align:middle;
	width: 80px;
}

.iconCell{
	vertical-align:top;
	text-align:center;
	width: 100px;
}

/*********************************************************************DROP DOWN MENUS*******************************************/

.optionMenu, .optionMenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height:1;
}

.optionMenu li {
	float: left;
	width: 100px;
}

.optionMenu li ul {
	position: absolute;
	width: 100px;
	left: -999em;
}

.optionMenu li ul li{
	width: 100px;
}

.optionMenu li li ul{
	margin: -21px 0 0 105px;
}

.optionMenu li:hover ul ul, #projectOptions li.sfhover ul ul {
	left: -999em;
}

.optionMenu li:hover ul, .optionMenu li li:hover ul, #projectOptions li.sfhover ul, #projectOptions li li:hover ul{
	left: auto;
}

li.invisible{
	background-image: url(../slimebase2/images/view_seqs/transparent.png);
	background-repeat:repeat;
	margin-bottom: 0px;
	height: 5px;
}

li.colored{
	margin-top: -1px;
	background-color: #FFFFFF;
	color:#000000;
	padding: 5px;
	border: 1px solid #227EAD;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 1.0em;
	font-weight: normal;
}

.colored a{
	width: 100px;
	color: #000000;
}

.colored a:hover{
	color:#FFFFFF;
}


li.colored:hover{
	background-color: #8CC2DE;
	color: #FFFFFF;
	cursor: pointer;
}


