@charset "utf-8";
/* CSS Document */

body{
	background-color: #EEF8FB;
	background-image:url(../slimebase2/images/go_background.jpg);
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#content{
	width: 1000px;
	text-align:left;
}

#neurobaseHeader{
	float:left;
	width: 1000px;
	height: 52px;
}

#navElement{
	margin-left: 4px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight:bold;
	height: 34px;
	float:left;
}

#search{
	padding-top: 11px;
	float:right;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: .8em;
	font-weight: bold;
}

#navElement:hover{
	background-color: #78D574;
}

#navElement a{
	text-decoration:none;
	color:#FFFFFF;
}

#search{
	padding-top: 14px;
	float:right;
	text-align:right;
}

#leftFill{
	width: 100%;
	height: 100%;
	float: left;
	background-image: url(../slimebase2/images/go_background.jpg);
	background-repeat:repeat-x;
}

#mainContent{
	float:left;
	width: 900px;
	margin-left: 50px;
}

#contentHeader{
	width:900px;
	float:left;
	text-align:left;
}

#contentHeader h1{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-family:Helvetica;
	font-size: 2.4em;
}

#contentTop{
	width: 900x;
	height:10px;
	float:left;
}

#topLeftHeader{
	width: 15px;
	height: 10px;
	float:left;
	background-image:url(../slimebase2/images/top_left.png);
}

#middleHeader{
	width: 870px;
	float:left;
	height: 10px;
	background-image:url(../slimebase2/images/top_middle.png);
	background-repeat: repeat-x;
}

#topRightHeader{
	float:left;
	width: 15px;
	height: 10px;
	background-image:url(../slimebase2/images/top_right.png);
}

#leftFooter{
	width: 15px;
	height: 10px;
	float:left;
}

#rightFooter{
	width: 15px;
	height: 10px;
	float:right;
}

#middleFooter{
	width: 870px;
	float:left;
	height: 10px;
	background-image:url(../slimebase2/images/bottom_middle.png);
	background-repeat: repeat-x;
}

#contentBody{
	background-color:#FFFFFF;
	float:left;
	width: 892px;
	border-left: 4px solid #A0E1F6;
	border-right: 4px solid #A0E1F6;
}

#contentBottom{
	width: 900px;
	height: 30px;
	float:left;
}


#meat{
	width: 900px;
	float:left;
}

.seqDetailHeaderBox{
	padding-left: 20px;
	/*border-bottom: 1px dotted #CCCCCC;*/
}


#amino_acid_display{
	padding-left: 10px;
	padding-right: 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: .8em;
	word-wrap:break-word;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	overflow:auto;
}

#amino_acid_header h1{

}

#amino_acid_header a{
	color:#81AECB;
	text-decoration:none;
}

#amino_acid_header a:hover{
	text-decoration:underline;
}

.translatedSeq{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}


.detail{
}

.detail p{
	margin-right: 10px;
	margin-top: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: .8em;
	word-wrap:break-word;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	overflow:auto;
}

.detail h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #002044;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 3px 0 0 0;
	/*border-bottom: 1px dotted #CCCCCC;*/
	min-height: 27px;
}

.detail h2{
	color:#000000;
	width: auto;
	font-weight: bold;
	font-size: 1em;
	margin: 0 0 0 10px;
	padding: 0;
}

.seqDetailHeaderBox h1 a{
	color:#81AECB;
	text-decoration:none;
}

.seqDetailHeaderBox h1 a:hover{
	text-decoration:underline;
}

.detailElement{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #A0E1F7;
	*/
}

div.meat{
	padding-left: 20px;
	padding-right: 20px;
}

.meat h2{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight: bold;
	font-size: 1em;
	margin: 0 0 0 0;
	padding: 0;
}

.annotation_element{
	margin-bottom: 40px;	
}

.annotation_element h2{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	width: auto;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}

.expressionImgDisplay{
	text-align:center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	width: 560px;
	/*border-bottom: 1px dashed #666666;*/
}

.expressionImgDisplay img{
	border: 1px dotted #999999;
	padding: 2px;
}

.expressionCaption{
	text-align: left;
	margin-top: 20px;
}

h1#nucleotideHeader{
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-weight: lighter;
	border: none;
	margin: 10px 20px;
}

.annotationHeaderRow{
}

.annotationAlignmentLink{
	width:auto;
	float:left;
}

.annotationAlignmentDisplay{
	width: auto;
	float:left;
	font-family:"Courier New", Courier, monospace;
	font-size: 1.0em;
	border: 1px dotted #666666;
	padding: 10px;
	margin-top: 10px;
	display:none;
	background-color:#C1D9FF;
}

#annotationTable{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin-top: 10px;
	border-spacing: 0;
}

.seqDetailTable{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin-top: 10px;
	border-spacing: 0;
}

.annotationDataRow{
	vertical-align:top;
}

tr.annotationHeaderRow{
	background-color: #5BB2D0;
	color:#FFFFFF;
	font-family:Calibri, Arial;
	font-size: 1.2em; 	
}

td.sourceHeader{
	text-align:center;
	width: 80px;
	height: 30px;
	padding: 0px 3px;
}

td.smallNumberHeader{
	width: 80px;
	text-align:center;
	height: 30px;
	padding: 0px 3px;
}

td.descriptionHeader{
	height: 30px;
	padding: 0px 3px;
}

td.annotationDescriptionCell{
	padding: 5px 0px;
	vertical-align:middle;
}

td.externalLinkCell{
	width: 80px;
	padding: 5px 0px;
	text-align:center;
}

td.evalCell{
	width: 50px;
	text-align:center;
	padding: 5px 0px;
	vertical-align: top;
}

