@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../slimebase2/images/go_background.jpg);
	background-color: #EEF8FA;
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#content{
	width: 1000px;
	text-align:left;
}

#header{
	float:left;
	width: 1000px;
	height: 52px;
}

.navElement{
	margin-left: 4px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight:bold;
	height: 34px;
	float:left;
}

.navElement:hover{
	background-color: #78D574;
}

.navElement a{
	text-decoration:none;
	color:#FFFFFF;
}

#search{
	padding-top: 11px;
	float:right;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: .8em;
	font-weight: bold;
}

#mainContent{
	margin-top: 10px;
	float:left;
	width: 900px;
	margin-left: 30px;
	padding: 20px;
	background-color:#FFFFFF;
	border: 1px solid #5BB2D0;
}


/*code for displaying project in the project browser */

#projectList{
	width: 900px;
	float:left;
	border: 1px solid #999999;
}

#projectHeader{
	background-image: url(../slimebase2/images/slime2_project_header.jpg);
	background-repeat: repeat-x;
	width: 890px;
	float:left;
	height: 50px;
	color:#FFFFFF;
	padding-left: 10px;
	padding-top: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
}

#browseElement{
	padding-bottom: 15px;
	width: 880px;
	float: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-top: 10px;
	margin-left: 10px;
	border-bottom: 1px dotted #666666;
}

#abstractText{
	float:left;
	width: 580px;
	color: #999999;
}

#browseHeader{
	margin-top: 20px;
	margin-left: 10px;
	width: 880px;
	float:left;
}

#browseHeader a{
	text-decoration: none;
	color:#036788;
}

#browseHeader a:hover{
	text-decoration:underline;
}

#browseImg{
	float:left;
	width: 275px;
	text-align:left;
}

#browseContent{
	margin-left: 25px;
	width: 580px;
	float:left;
}

#linkHeader{
	margin-top: 10px;
	margin-bottom: 5px;
	width: 580px;
	float:left;
	color:#027BA3;
	font-weight: bold;
}

#browseLinks{
	border: 1px solid #E6EFDA;
	background-color: #FFFFCC;
	padding: 5px;
	/*border-top: 1px solid #000000;
	*/
	float:left;
}

#browseLinks a{
	color: #0099CC;
	text-decoration:none;
	margin-right: 10px;
}

#browseLinks a:hover{
	text-decoration:underline;
}

#browseField{
	color:#000000;
	font-weight: bold;
	width: 200px;
	float:left;
	line-height: 150%;
}

#browseValue{
	color: #000000;
	line-height:150%;
	width: 380px;
	float:left;
}

#browseHeader h1{
	color:#036788;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:0;
	margin: 0;
	font-size: 1.2em;
}

/******************************************************SEQUENCE VIEW CSS***********************************************/

.pageInfoContainer{
	float:left;
	width:900px;
	padding-bottom: 5px;
	margin-top: 5px;
	/*border-bottom: 1px solid #000000;
	margin-bottom: 30px;
	*/
	clear:left;
}

#resultHeader{
	/*font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color:#027BA3;
	font-weight: bold;
	float:left;
	width:900px;
	*/
	color: #000000;
	margin:0 24px 0 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-weight: lighter;
	border: none;
	float:left;
}

.resultDescription{
	padding-top: 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color:#000000;
	margin-left: 10px;
	float:left;
	width: 590px;
}

.resultNav{
	width: 295px;
	text-align:right;
	float:left;
	padding-right: 5px;
}

#resultLink{
	padding-top: 3px;
	float:right;
}


.resultNav a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:.8em;
	color: #0099CC;
	text-decoration:none;
}

.resultNav a:hover{
	text-decoration:underline;
}

#resultForm{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	float:right;
	margin: 0 10px;
}

#viewOptionsBox{
	width: 900px;
	text-align:right;
}


/********************************************* STYLES FOR INDIVIDUAL SEQUENCES in SEQ DISPLAY************************/


#itemEntry{
	float:left;
	width: 900px;
	margin-bottom: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
}

#itemEntry table td{
	padding: 10px 0;	
}

table#seqTable{
	width: 890px;
	margin-left: 10px;
}

td#numberCell{
	vertical-align:top;
}

#seqNumber{
	float:left;
}

td#description{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

#seqDate{
	text-align:right;
	width: 200px;
}

#descriptionSpan{
	margin-left: 10px;
}

/********************************************************PROJECT SEARCH STYLES********************************************/

#searchBG{
	padding-top: 5px;
	padding-left: 5px;
	margin-left: 10px;
	width: 205px;
	height: 26px;
	float:left;
	background-image:url(../slimebase2/images/search_bg.jpg);
	background-repeat:no-repeat;
}

#searchBG input[TYPE=TEXT]{
	border: none;
	height: 18px;
	width: 199px;
	margin-left: 1px;
	padding-top: 3px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#999999;
}

#searchIcon{
	width:44px;
	height: 31px;
	float:left;
	background-image:url(../slimebase2/images/search_icon.jpg);
	background-repeat:no-repeat;
}


#loginContainer{
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	margin-left: 50px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .8em;
	color:#FFFFFF;
}

#loginContainer a{
	color:#FFFFFF;
	margin-left: 5px;
	font-size: 1em;
}

#loginText{
	float:right;
	width:auto;
}
